@import '../../../styles/default.scss';

.menu {
  position: fixed;
  width: $menu - $margin;
  height: 100%;
  background-color: $blockColor;

  .button {
    width: $button;
    height: $button;
    margin: $margin;
    background-color: $backgroundColor;
    border-radius: $margin;
    cursor: pointer;

    &:hover {
      background-color: $hoverColor;
    }
    &:active {
      background-color: $activeColor;
    }
  }
}
