@import '../../../styles/default.scss';

.block-wrapper {
  padding: $border;
}
.block {
  padding: $padding 0;
  text-align: center;
  background-color: $grey;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $lgrey;
  }

  .title {
  }
}
