@import '../../../styles/default.scss';

.block-wrapper {
  padding: $border;
}
.block {
  padding: 2 * $padding 0;
  text-align: center;
  background-color: $lblack;
  color: $white;
  cursor: pointer;

  &:hover {
    background-color: $grey;
  }
}
