@import '../../../styles/default.scss';

.block-wrapper {
  padding: $borderWidth;
}
.block {
  padding: 2 * $paddingWidth 0;
  text-align: center;
  background-color: $blockColor;
  color: $textColor;
  cursor: pointer;

  &:hover {
    background-color: $hoverColor;
    color: $textHoverColor;
  }
}
